<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label>Name</label>
      <input type="text" id="name" [(ngModel)]="camera.name" name="name" />
    </div>

    <div>
      <label>Model</label>
      <input type="text" id="model" [(ngModel)]="camera.model" name="model" />
    </div>

    <div>
      <label>Resolution</label>
      <select
        id="resolution"
        required
        [(ngModel)]="camera.resolution"
        name="resolution"
      >
        <option *ngFor="let res of resolutions" [value]="res">
          {{ res }}
        </option>
      </select>
    </div>

    <div>
      <label>ip</label>
      <input type="text" id="ip" [(ngModel)]="camera.ip" name="ip" />
    </div>

    <input type="submit" name="Submit" />
  </form>
</div>
